@model JobsApplied

@{
    ViewBag.Title = "Jobs I Applied for";
}

=
<div class="row">
    <div class="container">
        <h2>Jobs that I have applied for</h2>
        <p>These are a list of jobs that you applied for.</p>
        
        
    </div>
</div>
<script src="~/js/JobsAppliedViewModel.js"></script>